<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

	<link href="{% static 'Shop/css/customStyle.css' %}" rel="stylesheet">
    <link href="{% static 'Shop/css/bootstrap.min.css' %}" rel="stylesheet">




</head>
<body>
    {% block content %}

    {% endblock %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script src="{% static 'Shop/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'Shop/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'Shop/js/script.js' %}"></script>

</body>
</html>