{% extends 'mainTemplate.html' %}
{% block title %} ProductDetails {% endblock %}

{% block content %}

<div class="container">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped cartTable">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-right">Price</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% load static  %}
                                <td><img src="{% static 'Shop/images/cartDemoImage.png' %}" /> </td>
                                <td>Product Name Dada</td>
                                <td>In stock</td>
                                <td>
                                    <div class="input-group quantity">
                                        <button id="dec" onClick="decrement('textBox1');"
                                            class="border border-dark bg-dark btn btn-sm text-light p-2 pull-left"><span
                                                class="material-icons">
                                                remove_circle_outline
                                            </span></button>
                                        <input type="text" id="textBox1" class="form-control" value="1" readonly>
                                        <button id="inc" onClick="increment('textBox1');"
                                            class="border border-dark bg-dark text-light p-2 btn-sm pull-right"><span
                                                class="material-icons">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </td>
                                <td class="text-right">$124,90 </td>
                                <td class="text-right"><button class="btn btn-sm btn-danger"
                                        onclick="showPrompt();"><span class="material-icons">
                                            delete
                                        </span> </button> </td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'Shop/images/cartDemoImage.png' %}" /> </td>
                                <td>Product Name Toto</td>
                                <td>In stock</td>
                                <td>
                                    <div class="input-group quantity">
                                        <button id="dec" onClick="decrement('textBox2');"
                                            class="border border-dark btn btn-sm bg-dark text-light p-2 pull-left"><span
                                                class="material-icons">
                                                remove_circle_outline
                                            </span></button>
                                        <input type="text" id="textBox2" class="form-control" value="1" readonly>
                                        <button id="inc" onClick="increment('textBox2');"
                                            class="border border-dark bg-dark text-light p-2 btn-sm pull-right"><span
                                                class="material-icons">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </td>
                                <td class="text-right">$33,90 </td>
                                <td class="text-right"><button class="btn btn-sm btn-danger"
                                        onclick="showPrompt();"><span class="material-icons">
                                            delete
                                        </span> </button> </td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'Shop/images/cartDemoImage.png' %}" /> </td>
                                <td>Product Name Titi</td>
                                <td>In stock</td>
                                <td>
                                    <div class="input-group quantity">
                                        <button id="dec" onClick="decrement('textBox3');"
                                            class="border border-dark btn-sm bg-dark text-light p-2 pull-left"><span
                                                class="material-icons">
                                                remove_circle_outline
                                            </span></button>
                                        <input type="text" id="textBox3" class="form-control" value="1" readonly>
                                        <button id="inc" onClick="increment('textBox3');"
                                            class="border border-dark bg-dark text-light p-2 btn-sm  pull-right"><span
                                                class="material-icons">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </td>
                                <td class="text-right">$70,00 </td>
                                <td class="text-right"><button class="btn btn-sm btn-danger"
                                        onclick="showPrompt();"><span class="material-icons">
                                            delete
                                        </span> </button> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Sub-Total</td>
                                <td class="text-right">$255,90 </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Shipping</td>
                                <td class="text-right">6,90 $</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>$346,90 </strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-4 mb-1">
                        <a href="{% url 'shopIndex' %}" class="btn btn-lg btn btn-block btn-warning">Continue
                            Shopping</a>
                    </div>
                    <div class="col-sm-12 col-md-4 text-right mb-1">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Update cart</button>
                    </div>
                    <div class="col-sm-12 col-md-4 text-right">
                        <a href="{% url 'checkout' %}"><button
                                class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}