  {% extends 'mainTemplate.html' %}
{% block title %} Homepage {% endblock %}

 {% block content %}


  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
              <li data-target="#demo" data-slide-to="5"></li>
            </ul>
               {% load static  %}
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'Shop/images/slider1.jpg' %}" alt="Los Angeles" width="100%" height="400">
              </div>
              <div class="carousel-item">
                <img src="{% static 'Shop/images/slider2.webp' %}" alt="Chicago" width="100%" height="400">
              </div>
              <div class="carousel-item">
                <img src="{% static 'Shop/images/slider3.webp' %}" alt="New York" width="100%" height="400">
              </div>
              <div class="carousel-item">
                <img src="{% static 'Shop/images/slider4.webp' %}" alt="New York" width="100%" height="400">
              </div>
              <div class="carousel-item">
                <img src="{% static 'Shop/images/slider5.webp' %}" alt="New York" width="100%" height="400">
              </div>
              <div class="carousel-item">
                <img src="{% static 'Shop/images/slider6.webp' %}" alt="New York" width="100%" height="400">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Header End -->
  <div class="features">
    <div class="card1">
      <div>
        <!-- <i class="fa fa-truck" aria-hidden="true"></i> -->
        <img src="{% static 'Shop/images/deliveryIcon.jpg' %}" height="50" width="70">
      </div>
      <div>
        <h3>Free Shipping</h3>
      </div>
    </div>
    <div class="card2">
      <div>
        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
        <img src="{% static 'Shop/images/supportIcon.jpg' %}" height="45" width="55">
      </div>
      <div>
        <h3>24/7 Support</h3>
      </div>
    </div>
    <div class="card3">
      <div>
        <!-- <i class="fa fa-thumbs-up" aria-hidden="true"></i> -->
        <img src="{% static 'Shop/images/bestQualityIcon2.png' %}" height="50" width="65">
      </div>
      <div>
        <h3>Best Quality</h3>
      </div>
    </div>
  </div>

  <!--This is start of products catalog-->
  <div class="container">
    <h2 class="text-center mt-5"> Product Catlog</h2>
    <hr color="lightgrey" />
    <div class="row ">
      {% for product in products %}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img class="card-img" src="../static/Shop/images/{{product.Product_image}}" alt="Vans" height="250" width="150">
          <div class="card-body">
            <h4 class="card-title">{{product.ProductName}}</h4>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Product ID- 100101</h6> -->
            <p class="card-text">
              {{product.ProductDescription}}</p>
            <div class="price ">
              <h5 class="mt-4">Rs-{{product.ProductPrice}}/=</h5>
            </div>
            <div class="buy d-flex justify-content-between align-items-center">
              <a href="product_details/{{product.ProductID}}" class="btn btn-danger">View Product</a>
              <a href="#" class="btn btn-warning">Add to cart</a>
            </div>
          </div>
        </div>   
      </div>
      {% endfor %}
    </div>
    <div class="text-center mt-3"><button class="btn btn-primary showMore">Show more</button></div>
  </div> <!-- Catlog container end-->
  
{% endblock %}